/* Google font "Faustina" for brandname */

@import url("https://fonts.googleapis.com/css2?family=Faustina&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Fira+Sans:wght@500&family=Karla:wght@500&display=swap');

/* reset default styles */
*,
*:before,
*:after {
  box-sizing: inherit;
  /* position: relative; */
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

html {
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
}

::placeholder {
  color: white;
}

textarea:focus, input:focus{
  outline: none;
}

/* app container styling */
body {
  margin: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #14212c !important;
}

a {
  text-decoration: none;
}


h2 {
  font-family: "Faustina";
  color: white;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border-radius: 100px;
  background-color: #202e3a;
  box-shadow: none;
}

.question-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.question-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainSection {
  margin-bottom: 5rem;
}

.brandname {
  font-family: "Faustina";
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.top-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  padding-top: 10px;
}

.createQuestionForm {
  display: flex;
  justify-content: center;
  min-width: 20rem;
  height: 200px;
  margin-bottom: 10px;
}

.createQuestionForm label {
  color: white;
}

.createQuestionForm textarea {
  width: 40rem;
  margin-bottom: 5px;
  background-color: #202e3a;
  color: white;
  max-height: 100%;
  overflow: auto;
}

.topForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.topForm input {
  max-width: 80px;
}

.card {
  display: flex;
  font-size: 25px;
  justify-content: center;
  min-width: 60rem;
  height: 100%;
  margin-bottom: 30px;
}

.card-body {
  min-width: 40rem;
  background-color: #202e3a;
  font-family: "Arimo", sans-serif;
  font-size: 25px;
  color: white;
}

.cardBox {
  border: 2px solid white;
  max-width: 500px;
  min-width: 400px;
  color: white;
  margin-bottom: 20px;
}

.answerButton {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.answerInput {
  margin-top: 10px;
}

.submitQuestion input {
  width: 80px;
  border-color: none;
  border-radius: 15px;
}

.min-button {
  min-width: 150px;
  margin-left: 5px;
}

.dropdown-body button {
  margin-left: 10px;
  color: white;
  border-radius: 5px;
}

/* Chatroom styling */

#form-chat {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
#input-chat {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#input-chat:focus {
  outline: none;
}
#form-chat > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages > li {
  padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd) {
  background: #efefef;
}
